<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax
      id="obtenerCuentas"
      url="http://localhost:3000/apitechu/v5/ibanporid"
      handle-as="json"
      headers='{"id":345}'
      on-response="mostrarCuentas"
      on-error="mostrarErrorCuentas">
    </iron-ajax>
    <h1>Sus cuentas</h1>
    <!---<template is="dom-repeat" items="{{cuentas}}">
      <span>{{item.iban}}<br></br></span>
    </template>--->
    <table class="table table-striped">
      <thead><th>
        Indice
      </th>
      <th>IBAN</th></thead>
      <tbody>
        <template is="dom-repeat" items="{{cuentas}}">
          <tr>
            <td>{{index}}</td>
            <td>{{item.iban}}</td>
            <td><a class="btn btn-info" href="/movimientos/[[item.iban]]">Ver movimientos</a></td>
          <tr>
          </template>
      </tbody>
    </table>
  </template>

  <script>
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          idcliente:{
            type: Number,
            value: 345
          },
          cuentas: {
            type: Array
          }
        };
      }
      mostrarCuentas(resultado){
        console.log(resultado.detail.response)
        this.cuentas = resultado.detail.response["lista IBAN"]
      }
      mostrarErrorCuentas(error){
        console.log(error.detail.response)
      }
      obtenerCuentas(id) {
        this.$.obtenerCuentas.headers.idcliente = id
        this.$.obtenerCuentas.generateRequest()
      }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
