<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/emisor-app/emisor-app.html">
<link rel="import" href="/src/receptor-app/receptor-app.html">
<link rel="import" href="/src/login-usuario/login-usuario.html">
<link rel="import" href="/src/visor-cuentas/visor-cuentas.html">
<link rel="import" href="/src/logout-usuario/logout-usuario.html">


<dom-module id="padre-app">
  <template>
    <style>
      [hidden] {
        display: none !important;
      }
      :host {
        display: block;
      }
    </style>
    <h1>Login</h1>
    <login-usuario hidden$={{estoylogado}} id="lgu" on-eventologar="procesarLogado"></login-usuario>
    <visor-cuentas hidden$={{!estoylogado}} id="vsc"></visor-cuentas>
    <logout-usuario hidden$={{!estoylogado}} id="sal" on-eventologout="procesarSalida"></logout-usuario>
    <br></br>
<!---    <emisor-app id="emisor" on-mievento="procesar"></emisor-app>
    <receptor-app id="recep" on-mievento="mostrarDatos"></receptor-app>-->
  </template>

  <script>

    class PadreApp extends Polymer.Element {
      static get is() { return 'padre-app'; }
      static get properties() {
        return {
          estoylogado: {
            type: Boolean,
            value: false
          }
        };
      }
      procesar(e)
      {
        console.log("Emisor me ha dicho alguna cosilla")
        console.log(e)
        this.$.recep.mostrarDatos(e.detail)
      }
      procesarLogado(e){
        var id = e.detail.id
        this.$.vsc.obtenerCuentas(id)
        this.estoylogado = true
      }
     procesarSalida(e){
        //var id = e.detail.id
        //this.$.sal.hacerLogout(id)
        this.estoylogado = false
      }

    }

    window.customElements.define(PadreApp.is, PadreApp);
  </script>
</dom-module>
